Prov_Testing_2016-09-27.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>0ed24fb5-0157-1000-dd35-87336459f31a</groupId>
  <name>Prov Testing 2016-09-27</name>
  <snippet>
    <connections>
      <id>01571001-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>377.81903076171875</x>
        <y>323.6643398673354</y>
      </bends>
      <bends>
        <x>490.61895751953125</x>
        <y>330.8643825919448</y>
      </bends>
      <bends>
        <x>616.6189575195312</x>
        <y>332.0643337638198</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571000-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>numeric</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee18a66-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571004-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>375.41900634765625</x>
        <y>336.8643825919448</y>
      </bends>
      <bends>
        <x>398.06896357448693</x>
        <y>392.578360189448</y>
      </bends>
      <bends>
        <x>491.81903076171875</x>
        <y>389.6643703849135</y>
      </bends>
      <bends>
        <x>632.2082458010494</x>
        <y>393.2217622890574</y>
      </bends>
      <bends>
        <x>633.5809264651119</x>
        <y>643.0443025722604</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571003-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>other</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee18a66-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571004-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee18a66-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571003-e0c9-1ee5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571006-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571005-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee18a66-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571008-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1063.805047558862</x>
        <y>108.43947469140113</y>
      </bends>
      <bends>
        <x>1066.613397168237</x>
        <y>358.924551595698</y>
      </bends>
      <bends>
        <x>1213.4240661135495</x>
        <y>373.36125813866676</y>
      </bends>
      <bends>
        <x>1244.2190551757812</x>
        <y>401.6643703849135</y>
      </bends>
      <bends>
        <x>1365.0546264648438</x>
        <y>401.541689720851</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0f76cc2f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>2</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee5e0c9-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>1</zIndex>
    </connections>
    <connections>
      <id>0157100b-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1196.3591918945312</x>
        <y>68.52899440835102</y>
      </bends>
      <bends>
        <x>1264.212274121362</x>
        <y>63.141958822260506</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0157100a-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee5e0c9-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0157100c-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1109.8911071291745</x>
        <y>223.012930501948</y>
      </bends>
      <bends>
        <x>1108.518426465112</x>
        <y>118.69142781640113</y>
      </bends>
      <bends>
        <x>1263.628045605737</x>
        <y>118.69142781640113</y>
      </bends>
      <bends>
        <x>1199.0934448242188</x>
        <y>127.31469997475727</y>
      </bends>
      <bends>
        <x>1342.5629272460938</x>
        <y>120.50567897866352</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0157100a-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>2</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee8242f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>3</zIndex>
    </connections>
    <connections>
      <id>0157100d-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1082.438104199487</x>
        <y>445.3825288906199</y>
      </bends>
      <bends>
        <x>1081.0654235354245</x>
        <y>192.81459676171363</y>
      </bends>
      <bends>
        <x>1266.373406933862</x>
        <y>179.08809529686988</y>
      </bends>
      <bends>
        <x>1201.8276977539062</x>
        <y>188.83459743569477</y>
      </bends>
      <bends>
        <x>1349.1251831054688</x>
        <y>176.28375515053852</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0157100a-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>2</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571000-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>5</zIndex>
    </connections>
    <connections>
      <id>0157100e-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1096.1645446291745</x>
        <y>659.5162264003854</y>
      </bends>
      <bends>
        <x>1092.0466247072995</x>
        <y>336.94301473046363</y>
      </bends>
      <bends>
        <x>1260.8828063479245</x>
        <y>240.857412923823</y>
      </bends>
      <bends>
        <x>1201.9142456054688</x>
        <y>248.4017666251479</y>
      </bends>
      <bends>
        <x>1352.4061889648438</x>
        <y>230.42126735756977</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0157100a-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>2</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571003-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>4</zIndex>
    </connections>
    <connections>
      <id>0157100f-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1056.9418883791745</x>
        <y>336.2996736660105</y>
      </bends>
      <bends>
        <x>1056.9418883791745</x>
        <y>426.8946443691355</y>
      </bends>
      <bends>
        <x>1218.9147887697995</x>
        <y>441.99382649804176</y>
      </bends>
      <bends>
        <x>1246.6190795898438</x>
        <y>456.8643825919448</y>
      </bends>
      <bends>
        <x>1368.7377319335938</x>
        <y>454.2339504630385</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0f76cc2f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>2</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee8242f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571010-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1099.0189819335938</x>
        <y>514.4643581778823</y>
      </bends>
      <bends>
        <x>1249.0191040039062</x>
        <y>514.4643581778823</y>
      </bends>
      <bends>
        <x>1369.5678100585938</x>
        <y>507.3519314200698</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0f76cc2f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571000-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571011-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1083.4190063476562</x>
        <y>690.8643825919448</y>
      </bends>
      <bends>
        <x>1082.3987426757812</x>
        <y>572.0894192130386</y>
      </bends>
      <bends>
        <x>1249.0191040039062</x>
        <y>563.6643703849136</y>
      </bends>
      <bends>
        <x>1372.0576782226562</x>
        <y>557.1500271231948</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0f76cc2f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571003-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571019-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1490.2190551757812</x>
        <y>657.2643459708511</y>
      </bends>
      <bends>
        <x>1632.8713317385495</x>
        <y>603.2374178066354</y>
      </bends>
      <bends>
        <x>1639.0191040039062</x>
        <y>630.8643825919448</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571017-e0c9-1ee5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571013-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571025-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571022-e0c9-1ee5-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571005-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571027-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1782.3627319335938</x>
        <y>243.18371852944477</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>1086a63f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571020-e0c9-1ee5-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0eff062f-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>375.41900634765625</x>
        <y>249.26434597085102</y>
      </bends>
      <bends>
        <x>424.14940791042443</x>
        <y>177.07207356835426</y>
      </bends>
      <bends>
        <x>562.7872252932369</x>
        <y>177.07207356835426</y>
      </bends>
      <bends>
        <x>624.5565124026119</x>
        <y>170.20879231835426</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee5e0c9-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>lowercase</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee18a66-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0eff33fa-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>374.21893310546875</x>
        <y>278.0643642813979</y>
      </bends>
      <bends>
        <x>489.41900634765625</x>
        <y>275.6643398673354</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee8242f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>uppercase</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0ee18a66-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0f84f5c6-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1383.4190063476562</x>
        <y>592.4643581778823</y>
      </bends>
      <bends>
        <x>1351.0191040039062</x>
        <y>642.8643825919448</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571013-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0f76cc2f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>10879b60-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1545.9888305664062</x>
        <y>151.67578395913227</y>
      </bends>
      <bends>
        <x>1542.7078247070312</x>
        <y>227.1401699454604</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>1086a63f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>0157100a-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>48c88f8d-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>604.7552428713619</x>
        <y>88.49306355858863</y>
      </bends>
      <bends>
        <x>603.3825622072994</x>
        <y>439.8919283046824</y>
      </bends>
      <bends>
        <x>504.243408203125</x>
        <y>480.063174095851</y>
      </bends>
      <destination>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571005-242f-1ee8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>2</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0ed24fb5-0157-1000-0000-000000000000</groupId>
        <id>01571003-e0c9-1ee5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <inputPorts>
      <id>01571020-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1664.1840020830969</x>
        <y>145.08700547959592</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>failures</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <outputPorts>
      <id>01571022-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>54.82308850184609</x>
        <y>665.9557191381066</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>Copy of failures</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>OUTPUT_PORT</type>
    </outputPorts>
    <processors>
      <id>01571000-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>670.1301879882812</x>
        <y>437.8025539786635</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s)(^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${literal(${'$1'}):replaceAll('[0-9]','!')}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>numeric to pound sign</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>01571003-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>662.7516479492188</x>
        <y>670.1118191153823</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s)(^[^a-zA-Z0-9]+)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${literal(${'$1'}):replaceAll(".*","!")}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>other to bang</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>01571003-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>11.014138722233156</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>./data/input</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>100 milli</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile ./data/input - 10 ff/s</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>01571005-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>446.3676784903823</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>drop mismatched</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>drop mismatched</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>0157100a-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1456.3230590820312</x>
        <y>2.0018795401869625</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>drop failures - ${RouteOnContent.Route}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>drop failures</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>01571013-242f-1ee8-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1095.6973266601562</x>
        <y>681.7918117911636</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>success - ${RouteOnContent.Route}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>success</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>01571017-e0c9-1ee5-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1471.247547609717</x>
        <y>680.6355139090044</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>./data/success</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile ./data/success</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>0ee18a66-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>4.82000732421875</x>
        <y>218.22107204506977</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Match Requirement</key>
            <value>
              <name>Match Requirement</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Content Buffer Size</key>
            <value>
              <name>Content Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>lowercase</key>
            <value>
              <name>lowercase</name>
            </value>
          </entry>
          <entry>
            <key>numeric</key>
            <value>
              <name>numeric</name>
            </value>
          </entry>
          <entry>
            <key>other</key>
            <value>
              <name>other</name>
            </value>
          </entry>
          <entry>
            <key>uppercase</key>
            <value>
              <name>uppercase</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Match Requirement</key>
            <value>content must contain match</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Content Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>lowercase</key>
            <value>^[a-z]</value>
          </entry>
          <entry>
            <key>numeric</key>
            <value>^[0-9]</value>
          </entry>
          <entry>
            <key>other</key>
            <value>^[^a-zA-Z0-9]</value>
          </entry>
          <entry>
            <key>uppercase</key>
            <value>^[A-Z]</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Break into upper, lower, digit, other</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>lowercase</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>numeric</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>other</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>uppercase</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnContent</type>
    </processors>
    <processors>
      <id>0ee5e0c9-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>665.2537231445312</x>
        <y>6.5955990226088375</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>10 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s)(^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${literal(${'$1'}):toUpper()}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>lowercase to uppercase</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>0ee8242f-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>664.2200317382812</x>
        <y>210.72609218667134</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s)(^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${literal(${'$1'}):toLower()}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>uppercase to lowercase</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>0f76cc2f-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1469.8290649414066</x>
        <y>424.8420864493666</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>./scripts/to_binascii.py</value>
          </entry>
          <entry>
            <key>Script Body</key>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>scripts/to_binascii.py</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>1086a63f-0157-1000-0000-000000000000</id>
      <parentGroupId>0ed24fb5-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1468.957068202736</x>
        <y>267.35447775619934</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>./data/failure</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile ./data/failure</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
  </snippet>
  <timestamp>09/27/2016 12:46:41 EDT</timestamp>
</template>