templates/Prioritized-Flow-1.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>111eb286-015b-1000-3e1a-158762d78136</groupId>
  <name>Prioritized-Flow-1</name>
  <snippet>
    <connections>
      <id>015b1001-17d8-1122-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>50000</backPressureObjectThreshold>
      <bends>
        <x>471.6692657470703</x>
        <y>250.5655517578125</y>
      </bends>
      <destination>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>17d81122-1000-115b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>set state fail</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>112217d8-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015b1002-17d8-1122-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>50000</backPressureObjectThreshold>
      <bends>
        <x>887.8292388916016</x>
        <y>826.5653686523438</y>
      </bends>
      <destination>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>113e894c-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.PriorityAttributePrioritizer</prioritizers>
      <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
      <selectedRelationships>set state fail</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>015b1000-17d8-1122-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>112b3d26-015b-1000-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>50000</backPressureObjectThreshold>
      <bends>
        <x>468.7892608642578</x>
        <y>108.00558090209961</y>
      </bends>
      <destination>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>112217d8-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>112999ff-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>17d81123-1000-115b-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>889.2692413330078</x>
        <y>688.3254089355469</y>
      </bends>
      <destination>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>015b1000-17d8-1122-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>set state fail</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>111eb286-015b-1000-0000-000000000000</groupId>
        <id>17d81122-1000-115b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>015b1000-17d8-1122-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>420.4799346923828</x>
        <y>719.4399108886719</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>file-${priority}-${counter:trim()}.txt</value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Store state locally</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>0</value>
          </entry>
        </properties>
        <runDurationMillis>50</runDurationMillis>
        <schedulingPeriod>1 second</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>filename</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>set state fail</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>112217d8-015b-1000-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>140.0</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>counter</key>
            <value>
              <name>counter</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Store state locally</value>
          </entry>
          <entry>
            <key>counter</key>
            <value> ${getStateValue("counter"):plus(1)}</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>0</value>
          </entry>
        </properties>
        <runDurationMillis>50</runDurationMillis>
        <schedulingPeriod>1 second</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>counter</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>set state fail</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>112999ff-015b-1000-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>6.103515625E-5</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>2 KB</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>40960</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>180 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>40k @ 2K B every 180s</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>113e894c-015b-1000-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>420.2799835205078</x>
        <y>865.6399230957031</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log prefix</key>
          </entry>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>counter, filename</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>100</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>filename, counter</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>17d81122-1000-115b-0000-000000000000</id>
      <parentGroupId>111eb286-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>421.4799346923828</x>
        <y>581.2398986816406</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>priority</key>
            <value>
              <name>priority</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Store state locally</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>0</value>
          </entry>
          <entry>
            <key>priority</key>
            <value>${counter:mod(10)}</value>
          </entry>
        </properties>
        <runDurationMillis>50</runDurationMillis>
        <schedulingPeriod>1 second</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>priority</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>set state fail</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
  </snippet>
  <timestamp>03/28/2017 17:44:21 UTC</timestamp>
</template>